nav ul li {
  list-style: none;
  margin: 20px;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  color: white;
}
nav ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
a {
  color: white;
  text-decoration: none;
}

/* hero */
.hero {
  background-image: url("./image/shop.webp");
  background-color: #cccccc;
  height: 1350px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  color: rgb(0, 1, 3);
  position: absolute;
  top: 200px;
  right: 100px;
}

.hero-text h1 {
  font-size: 50px;
  font-weight: 600;
  letter-spacing: 5px;
}

.hero-text button {
  background-color: rgb(210, 17, 17);
  padding: 11px 43px;
  border: 1px solid rgb(5, 2, 22);
  color: rgb(5, 2, 22);
}
